<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SAVES</title>
</head>
<body>
    <head>
        <nav id="navbar">
            <img src="image/Group.png" alt="Logo IFCE"  id="nav_logo">

            <ul id="nav_list">
                <li class="nav_item">
                    <a href="#home_auxilios">Auxílios</a>
                </li>
                <li>
                    <a href="#home_beneficios">Benefícios</a>
                </li>
                <li>
                    <a href="#home_funciona">Como Funciona</a>
                </li>    
            </ul>

            <button class="btn_default">
                Meus Auxílios
            </button>

            <button id="mobile-btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>


        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav_item">
                    <a href="#home_auxilios">Auxílios</a>
                </li>
                <li>
                    <a href="#home_beneficios">Benefícios</a>
                </li>
                <li>
                    <a href="#home_funciona">Como Funciona</a>
                </li>    

                <button class="btn_default">
                Meus Auxílios
            </button>
            
            </ul>

        </div>
    </head>
    
</body>
</html>