<!DOCTYPE html>
<html>
<head>
    <title>Login do Aluno</title>
</head>
<body>

<h1>Login do Aluno</h1>

<!-- 
    Esse bloco verifica se existe uma variável chamada "erro"
    enviada pelo Flask. Se existir, exibe a mensagem em vermelho.
-->
{% if erro %}
    <p style="color:red;">{{ erro }}</p>
{% endif %}

<!-- 
    Formulário de login.
    O action="/login" envia os dados para a rota /login do Flask.
    O method="POST" indica que os dados serão enviados de forma segura.
-->
<form action="/login" method="POST">
    
    <!-- 
    campos de email e senha para o aluno preencher
-->
    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Senha:</label><br>
    <input type="password" name="senha" required><br><br>

    <button type="submit">Entrar</button>
</form>

</body>
</html>
