<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAVES</title>
    <link rel="stylesheet" href="style/style.css">
    <script src="https://kit.fontawesome.com/fd316c0ed8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="left-side">
                <img src="image/Logo_IFCE_horizontal 2.png" alt="Logo IFCE"  class="logo-left">
                <div class="text-box">
                    <h2 class="title title-bem-vindo">Seja bem-vindo(a)!</h2>
                    <p class="description description-primary">Aqui você vai encontrar tudo que precisa<br>sobre auxílios para alunos</p>
                    <button id="signin" class="btn btn-primary">Cadastra-se</button>
                </div>
            </div>

            <div class="right-side">
                <img src="image/Group.png" alt="Logo IFCE" class="logo-right">

                <h1 class="title title-SAVES">SAVES</h1>
                <h3 class="title title-acesse">Acesse sua conta</h3>   
                <p class="description description-second">Faça o seu login com sua matricula ou e-mail institucional</p>

                <form class="form">

                    <label class="label-input" for="">
                        <i class="fa-regular fa-user icon-modify"></i>
                        <input type="text" placeholder="Matricula ou e-mail" required>
                    </label>

                    <label class="label-input" for="">
                        <i class="fa-solid fa-lock icon-modify"></i>
                        <input type="password" placeholder="Senha" required>
                    </label>

                    <a class="password" href="#">Esqueceu a senha?</a>
                    <button class="btn btn-second">Entrar</button>

                </form>

                <div class="help">
                    <p>Precisou de ajudar? <a href="#">Manual e suporte</a></p>
                </div>

            </div>
        </div>





        <div class="content second-content">
            <div class="left-side">
                <img src="image/Logo_IFCE_horizontal 2.png" alt="Logo IFCE"  class="logo-left">
                <div class="text-box">
                    <h2 class="title title-bem-vindo"><span>Seja bem-vindo</span><br>ao nosso espaço</h2>
                    <p class="description description-primary">Aqui você vai encontrar tudo que precisa<br>sobre auxílios para alunos</p>
                    <button id="signup" class="btn btn-primary">Entrar</button>
                </div>
            </div>

            <div class="right-side">
                <img src="image/Group.png" alt="Logo IFCE" class="logo-right">

                <h1 class="title title-SAVES">SAVES</h1>
                <h3 class="title title-acesse">Acesse sua conta</h3>
                <p class="description description-second">Crie sua conta com sua matricula ou e-mail institucional</p>


                <form class="form">

                    <label class="label-input" for="">
                        <i class="fa-regular fa-user icon-modify"></i>
                        <input type="text" placeholder="Insira seu nome" required>
                    </label>

                    <label class="label-input" for="">
                        <i class="fa-solid fa-id-card icon icon-modify"></i>
                        <input type="text" placeholder="Insira seu CPF" required>
                    </label>

                    <label class="label-input" for="">
                        <i class="fa-regular fa-envelope icon-modify"></i>
                        <input type="text" placeholder="Matricula ou e-mail" required>
                    </label>

                    <label class="label-input" for="">
                        <i class="fa-solid fa-lock icon-modify"></i>
                        <input type="password" placeholder="Senha" required>
                    </label>
                    <button class="btn btn-second">Cadastra-se</button>

                </form>

                <div class="help">
                    <p>Precisou de ajudar? <a href="#">Manual e suporte</a></p>
                </div>

            </div>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>